
.profile {
   border-top: 1px solid;

   border-color: #E0E0E0;
   width: 60%;
   margin: auto;
   margin-top: 50px;
}

.banner{
	display: inline-block;
	margin-top: 50px;
	margin-left: 150px;	
	width: 80%;
	height: auto;
	border: 1px black dashed;

	.banner_img {
		height: 600px;
		//filter: grayscale(100%);
	}
}

#bubble {
	margin-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	height: auto;
	border-radius: 50%;
	color: grey;
	
	box-shadow: 1px 1px 1px 1px;

	&:hover {
     animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
}

#description {
	padding: 2% 20% 0px 20%;
	font-size: medium;
}

.flexbox {
  margin: 50px auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.column {
  padding: 0  4px;

}

.column img {
  margin-top: 4px;
  outline: none;
  transition: .4s ease-in-out;

  width: 100%;
  &:hover {
    // animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	  transform: translate3d(0, 0, 0);
	  backface-visibility: hidden;
	  box-shadow: 1px 1px 2px 3px rgba(13, 213, 252, 0.3);
	  opacity: 0.8;
  }
  &:active {
  	   box-shadow: 1px 1px 2px 3px rgba(13, 213, 252, 0.3);
  	   opacity: 1;
  	  // animation: shake 0.3s cubic-bezier(.36,.07,.19,.97);
  }
}

.min {
	flex: 36%;
}

.max {
	flex: 64%;
}

.image-container {
	position: relative;
    text-transform: uppercase;
}

.image-header {
	font-size: 2vmin;
	position: absolute;
	color: #ffffff;
	top:20px;
	left: 15px;
}
