@import url("fonts.css");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

article {
  width: 60%;
  margin: auto;
}

p {
  font-size: x-large;
  font-family: ParagraphFont;
}

h1, h2, h3, h4, h5, h6 {
  font-family: HeadingFont;
}

img {
  width: 100%;
}

.publish-date {
  font-size: medium;
  font-style: italic;
}

.share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

.footer {
  border-top: 1px solid;
  border-color: #E0E0E0;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: grey;
}

.tech-profile {
  margin-top: 100px;
}

.tech-profile img {
  margin-right: 5px;
  width: 20px;
  filter: grayscale(100%);
}

.profile {
  border-top: 1px solid;
  border-color: #E0E0E0;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

.banner {
  display: inline-block;
  margin-top: 50px;
  margin-left: 150px;
  width: 80%;
  height: auto;
  border: 1px black dashed;
}
.banner .banner_img {
  height: 600px;
}

#bubble {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: auto;
  border-radius: 50%;
  color: grey;
  box-shadow: 1px 1px 1px 1px;
}
#bubble:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

#description {
  padding: 2% 20% 0px 20%;
  font-size: medium;
}

.flexbox {
  margin: 50px auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.column {
  padding: 0 4px;
}

.column img {
  margin-top: 4px;
  outline: none;
  transition: 0.4s ease-in-out;
  width: 100%;
}
.column img:hover {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  box-shadow: 1px 1px 2px 3px rgba(13, 213, 252, 0.3);
  opacity: 0.8;
}
.column img:active {
  box-shadow: 1px 1px 2px 3px rgba(13, 213, 252, 0.3);
  opacity: 1;
}

.min {
  flex: 36%;
}

.max {
  flex: 64%;
}

.image-container {
  position: relative;
  text-transform: uppercase;
}

.image-header {
  font-size: 2vmin;
  position: absolute;
  color: #ffffff;
  top: 20px;
  left: 15px;
}

.section {
  color: #F20505;
  font-size: large;
  text-align: left;
}

.post-fragment {
  display: flex;
  border-bottom: 1px ridge;
  width: 80%;
  padding: 5px;
}
.post-fragment .img-container {
  order: 1;
}
.post-fragment img {
  width: 200px;
  height: 200px;
}
.post-fragment .fragment-text {
  order: 2;
  width: 100%;
  margin-left: 20px;
}
.post-fragment .fragment-text .fragment-section {
  font-size: 16px;
  color: #F20505;
}
.post-fragment .fragment-text .fragment-section :hover {
  color: #BF0436;
}
.post-fragment .fragment-text .fragment-blurb {
  font-size: large;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #333;
  padding: 50px;
  font-size: 80%;
}

.footer-nav li {
  flex-grow: 100%;
}

.header {
  width: 100%;
  height: 100px;
  display: block;
  background-color: #101010;
}

.inner_header {
  width: 60%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: #101010;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}
.logo_container a {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.logo_container .name {
  font-family: "Montserrat";
  color: white;
  font-size: 40px;
}
.logo_container .name span {
  font-family: "Celtic";
}

.logo_container .name:hover {
  color: #E0E0E0;
}

.logo_container .name::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgba(13, 213, 252, 0.8);
  transition: width 0.3s;
}

.logo_container .name:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.navigation {
  float: right;
  height: 100%;
}
.navigation a {
  display: table-cell;
  vertical-align: middle;
  color: white;
}
.navigation li {
  display: table;
  padding: 0px 10px 0px 10px;
  float: left;
  height: 100%;
  font-family: "Montserrat";
}

.navigation-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #0dd5fc;
  transition: width 0.3s;
}

.navigation-link:hover {
  color: #e0e0e0;
}

.navigation-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.books-container {
  margin-top: 6em;
}

.books-header {
  font-family: "Celtic";
  color: black;
  font-size: 4em;
  margin-bottom: 1em;
}

.books-genre-header {
  font-family: "Celtic";
  font-size: 2em;
  padding-bottom: 0.5em;
}

.books {
  margin-top: 2em;
}

.book-list {
  list-style-position: inside;
  list-style-image: url("/assets/images/circle_of_life.png");
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-17 20:40:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shadow-inset-center
 * ----------------------------------------
 */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*# sourceMappingURL=app.css.map */
