* {
	margin: 0;
	padding: 0;
	// list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

article {  
   width: 60%;
   margin: auto;
}

p {  
    font-size: x-large;
    font-family: ParagraphFont
}

h1, h2, h3, h4, h5, h6 {
	font-family: HeadingFont;
}

img {
	width: 100%;
}