.footer {
	border-top: 1px solid;
  border-color: #E0E0E0;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	color: grey;
}

.tech-profile {
	margin: 3em auto .75em auto;
}
.tech-profile img {
	margin-right: .5em;
	width: 2em;
	filter: grayscale(100%);
}
