.header{
	width: 100%;
	height: 100px;
	display: inline-block;
	background-color: #101010;
}

.inner_header{
	width: 60%;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.logo_container{
	height: 100%;
	display: table;
	float: left;

	a {
		height: 100%;
		display: table-cell;
		vertical-align: middle;
	}

	.name {
		font-family: "Montserrat";
		color: white;
		font-size: 2.5em;

		span {
			font-family: "Celtic";
		}
	}
}

.logo_container .name:hover{
	color: #E0E0E0;
}

.logo_container .name::after {
	content: '';
	display: block;
	width: 0;
	height:	 2px;
	background: rgba(13, 213, 252, 0.8);
	transition: width .3s;
}

.logo_container .name:hover::after {
	width: 100%;
	transition: width .3s
}

.nav_container {
  float: right;
  height: 100%;
}

.navigation {
  height: 100%;

	a {
		display: table-cell;
		vertical-align: middle;
		color: white;
	}

	li {
		display: table;
		padding: 0px 1vw 0px 1vw;
		float: left;
		height: 100%;
		font-family: "Montserrat";
		font-size:2.2vmin;
	}
}

.navigation-link::after {
	content: '';
	display: block;
	width: 0;
	height:	 2px;
	background: rgba(13, 213, 252);
	transition: width .3s;
}


.navigation-link:hover {
	color: #e0e0e0;
}


.navigation-link:hover::after {
	width: 100%;
	transition: width .3s
}
