<div class="header">
	<div class="inner_header">
		<div class="logo_container">
			<a href="/">
				<h1 class="name">Daithí <span>O Gordúin</span>
				</h1>
			</a>
		</div>

    <div class="nav_container">
      <ul class="navigation">
        <li><LinkTo @route="posts"  @query={{hash section="software"}} class="navigation-link">Software</LinkTo></li>
        <li><LinkTo @route="posts"  @query={{hash section="sport"}} class="navigation-link">Sport</LinkTo></li>
        <li><LinkTo @route="posts"  @query={{hash section="history"}} class="navigation-link">History</LinkTo></li>
        <li><LinkTo @route="books" class="navigation-link">Books</LinkTo></li>
      </ul>
    </div>
	</div>
</div>