<div class="tech-profile">

	<!-- CV -->
	<a href="/assets/files/David_Gordon_CV.pdf" target="_blank">
    <img src="/assets/images/resume.png" alt="resume" />
	</a>

	<!-- Linkedin -->
	<a href="https://www.linkedin.com/in/daithiogorduin/" target="_blank">
    <img src="/assets/images/linkedin_logo.png" alt="Linkedin" />
	</a>

	<!-- Github -->
	<a href="https://github.com/daithi-o-gorduin" target="_blank">
    <img src="/assets/images/github.png" alt="Github" />
	</a>
</div>