<div id="index">
	<div class="banner">
		<img id="banner_img" src="galway.jpg">
	</div>

	<div class="profile">
		<p id="hello"><q>Hi, I'm David</q></p>
	    <img id="bubble" src="linkedin.jpeg">
		<p id="description"><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus eros ante, id sollicitudin sem cursus at. Nam in viverra odio. Morbi maximus odio nunc. Aenean semper dolor non bibendum maximus</q></p>
		<TechProfile/>
	</div> 
</div>