<div id="about">
	<div class="banner">
		<img class="banner_img" src="galway.jpg">
	</div>

	<div class="profile">
		<p id="hello"><q>Hi, I'm David</q></p>
	    <img id="bubble" src="linkedin.jpeg">
		<p id="description"><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi faucibus eros ante, id sollicitudin sem cursus at. Nam in viverra odio. Morbi maximus odio nunc. Aenean semper dolor non bibendum maximus</q></p>

		{{!-- <div class="grid-container">
		    <div id="one">Software</div>
		    <div id="two">Sport</div>
		    <div id="three">History</div>  
		    <div id="four">Books</div>
		</div> --}}

		<!-- Photo Grid -->
		<div class="row"> 
		  <div class="column">
		    <img src="rubex.png">
		    <img src="rubex.png">
		  
		  </div>
		  
		  <div class="column">
		    <img src="galway.png">
		    <img src="rubex.png">
		  </div> 
		  
		</div>
	</div> 
</div>